:root {
	--f7-theme-color: rgb(52, 120, 245);
	--f7-theme-color-rgb: 52, 120, 245;
	--f7-theme-color-shade: #3478F5;
	--f7-theme-color-tint: #82e3ea;
	--f7-theme-color: rgb(52, 120, 245);
}


.button {
    background-color: rgb(52, 120, 245);
}

a {
    color: rgb(52, 120, 245);
}
.searchbar-inner{
    width: 100%;
}
      .slider{
        display:flex;
        overflow-x: auto;
        -webkit-overflow-scrolling:touch;
      }

      .slider div{
        flex-shrink:0;
        width:85px;
        height:85px;
      }

.navbar-large-collapsed .topRightIcons {
	-webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    opacity: 0;
}
